.b {
    display: flex;
    flex-direction: row;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
    border: 5px rgb(72, 72, 72) solid;
    width: 380px;
    height: 160px;
    border-radius: 10px;
}

.slot {
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 130px;
    border: 3px rgb(51, 51, 51) solid;
    border-radius: 10px;
}
.circle {
    width: 80px;
    height: 80px;
    background-color: green;
    border-radius: 50%;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 80px solid rgb(45, 45, 45);
}

.square {
    width: 80px;
    height: 80px;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    background-color: rgb(230, 44, 44);
}

.star {
    width: 80px;
    height: 80px;
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    background-color: rgb(252, 161, 57);
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-left: 20px;
    width : 60px;
    height: 60px;
    border: 3px rgb(71, 71, 71) solid;
    background-color: rgb(76, 98, 199);
    border-radius: 10px;
    color: azure;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    
}
.pointsBox {
    width: 180px;
    height: 50px;
    border: 4px solid rgb(74, 74, 74);
    border-radius: 12px;
    text-align: center;
    line-height: 50px;
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 60px;
    background-color: #f5f5f5;
    color: #333;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.points {
    padding: 10px;
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    font-family: monospace;
    font-size: 16px;
}
footer {
    font-family: 'Gill Sans';
    text-align: left;
    margin-left: 20px;
    margin-top: 40px;
    font-size: 16px;
    color: #555;
}
@keyframes goldenFlash {
    0% {
        background-color: transparent;
    }

    50% {
        background-color: gold;
    }

    100% {
        background-color: transparent;
    }
}

.win {
    animation: goldenFlash 1.5s ease;
}

.container-win {
    animation: goldenFlash 1.5s ease;
}